/*responsive for tablet dimnension*/

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

/*responsive for mobile*/

@media screen and (max-width: 576px) {

    /*posizioniamo centralmente tutti gli elementi della pagina*/
    *{
        margin: 0 auto;
    }

    .row {
        display: block;
    }
    
    .container {
        display: flex;
        flex-direction: column;
    }
    
    /*sistemiamo lo sfondo della sezione why-us*/
    .steps {
        margin: auto;
    }

    .lessons {
        padding: 30px;
    }

    .why-us {
        margin: auto;
        background-color: #222222;
        padding: 30px;
    }

    /*sistemiamo i margini e le distanze tra gli elementi*/

    .why-us .col-left {
        margin-bottom: 20px;
    }

    .col {
        padding-left: 0;
        padding-right: 0;
    }
}